# Автоматическая обработка текстовых файлов, нормализация LF в репозитории
* text=auto

# Явное указание файлов (примеры)
*.txt text
*.js text
*.html text
*.css text
*.py text
*.conf text

# Бинарные файлы (не трогать)
*.png binary
*.jpg binary
